<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.CarsDao">
    <resultMap type="Cars" id="CarsResult">
        <result property="carId" column="car_id"/>
        <result property="carName" column="car_name"/>
    </resultMap>

    <select id="findCars" parameterType="Map" resultMap="CarsResult">
        select car_id,car_name from ssm_cars
        <where>
            <if test="carName!=null and carName!='' ">
                and car_name like #{carName}
            </if>
        </where>
    </select>

    <select id="getTotalCars" parameterType="Map" resultType="Long">
        select count(*) from ssm_cars
        <where>
            <if test="carName!=null and carName!='' ">
                and car_name like #{carName}
            </if>
        </where>
    </select>

    <!--
    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="id" parameterType="Article">
		insert into
		ssm_article(article_title,article_create_date,article_content,add_name)
		values(#{articleTitle},#{articleCreateDate},#{articleContent},#{addName})
	</insert>

    <update id="updArticle" parameterType="Article">
		update ssm_article
		set
		article_title=#{articleTitle},article_content=#{articleContent},
		add_name=#{addName}
		where id=#{id}
	</update>


    <delete id="delArticle" parameterType="String">
		delete from
		ssm_article
		where id=#{id}
	</delete>

    <select id="getArticleById" parameterType="String" resultMap="ArticleResult">
		select id,article_title,article_create_date,article_content,add_name
		from ssm_article where id=#{id}
	</select>-->
</mapper> 